@import url("https://fonts.googleapis.com/css?family=Molle:400i|Reem+Kufi");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  font-family: "Reem Kufi", sans-serif;
  background: white;
  height: 51px;
  border-bottom: 1px solid black; }

nav {
  display: block;
  font-family: "Reem Kufi", sans-serif;
  text-transform: uppercase;
  background: white;
  height: 51px;
  border-bottom: 1px solid black; }

.flex-container {
  opacity: 0.5;
  width: 979px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px; }
  .flex-container a {
    color: black; }
  .flex-container ul {
    display: flex; }
  .flex-container li {
    padding: 10px;
    list-style-type: none; }

.flex-container a:before,
.flex-container a:after {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }

.flex-container a:before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translate(20px);
  -moz-transform: translate(20px);
  transform: translate(20px); }

.flex-container a:after {
  margin-left: 5px;
  content: ']';
  -webkit-transform: translate(-20px);
  -moz-transform: translate(-20px);
  transform: translate(-20px); }

.flex-container a:hover:before,
.flex-container a:hover:after,
.flex-container a:focus:before,
.flex-container a:focus:after {
  opacity: 1;
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  transform: translate(0px); }

a:link {
  text-decoration: none; }

.logo {
  display: flex;
  width: 3em;
  align-items: center; }

h2 {
  display: block;
  font-family: "Molle", cursive;
  position: absolute;
  font-size: 75px;
  line-height: 120px;
  top: 300px;
  left: 300px; }

span {
  display: block;
  color: white;
  font-family: "Molle", cursive;
  position: absolute;
  font-size: 40px;
  top: 400px;
  left: 600px; }

footer {
  font-family: "Molle", cursive;
  background: white;
  height: 51px;
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 3em; }

.container {
  display: flex; }

.item {
  width: 200px;
  height: 400px;
  flex-grow: 1; }

.galleryOne {
  display: flex;
  flex-wrap: wrap; }

.galleryTwo {
  display: flex;
  flex-wrap: wrap; }

.main {
  background-image: url("../img/tree.jpg");
  flex-grow: 1;
  height: 1150px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.play {
  display: block;
  position: relative;
  margin: 0 auto;
  opacity: .5;
  width: 100px;
  top: 200px;
  left: 100px; }
  .play:hover {
    opacity: 1; }

.search {
  margin-bottom: 1em;
  align-self: flex-end;
  align-items: center;
  text-align: center; }

.text {
  color: #C1292E;
  font-family: "Molle", cursive;
  font-size: 2em;
  margin-top: 10em;
  margin-left: 2em; }

.mainText {
  color: #C1292E;
  font-family: "Molle", cursive;
  font-size: 2em;
  margin-top: 10em;
  margin-left: 2em; }

#imageOne {
  background-image: url("../img/city.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  flex-basis: 400px;
  flex-grow: 2; }

#imageTwo {
  background-image: url("../img/ferris-wheel.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

#imageThree {
  background-image: url("../img/rose.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

#imageFour {
  background-image: url("../img/guitar.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

#imageFive {
  background-image: url("../img/train.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

#imageSix {
  background-image: url("../img/clock.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  flex-basis: 400px;
  flex-grow: 2; }

@media only screen and (min-width: 100px) and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) {
  .item {
    width: 200px;
    height: 400px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 0 3px 2px black;
    flex-grow: 1; } }
@media only screen and (min-width: 0px) and (max-width: 1160px) and (-webkit-min-device-pixel-ratio: 1) {
  nav {
    display: none; }

  .mainText {
    color: #C1292E;
    font-family: "Molle", cursive;
    font-size: 2em;
    margin-top: 10em;
    margin-left: 10px; }
    .mainText h2 {
      display: block;
      font-family: "Molle", cursive;
      position: absolute;
      font-size: 1em;
      line-height: 0;
      top: 300px;
      left: 5px; }
    .mainText span {
      display: block;
      color: white;
      font-family: "Molle", cursive;
      position: absolute;
      font-size: .5em;
      top: 320px;
      left: 150px; }

  .main {
    background-image: url("../img/tree.jpg");
    flex-grow: 1;
    height: 800px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; }

  .play {
    display: block;
    position: relative;
    margin: 0 auto;
    opacity: .5;
    width: 100px;
    top: 100px;
    left: 0; }
    .play:hover {
      opacity: 1; } }

/*# sourceMappingURL=styles.css.map */
