@import url('https://fonts.googleapis.com/css?family=Molle:400i|Reem+Kufi');

@import "base/index";
@import 'layout/index';

// Body
h2 {
  font-family: $stack-molle;
  position: absolute;
  font-size: 75px;
  line-height: 120px;
  top: 300px;
  left: 300px;
}

span {
  font-family: $stack-molle;
  color:$white;
  position: absolute;
  font-size: 40px;
  top: 400px;
  left: 600px;
}

.container {
  @extend %flex;
}

.item {
  width: 200px;
  height: 400px;
  flex-grow: 1;
}

.galleryOne {
  @extend %flex;
  flex-wrap: wrap;
}

.galleryTwo {
  @extend %flex;
  flex-wrap: wrap;
}

.main {
  @extend %image;
  background-image: url('#{$path-img}/tree.jpg');
  flex-grow: 1;
  height: 1150px;
}

.play {
  display: block;
  position: relative;
  margin: 0 auto;
  opacity: .5;
  width: 100px;
  top: 200px;
  left: 100px;
  &:hover {
    opacity: 1;
  }
}

.mainText {
  @extend %text;
}

.text {
  @extend %text;
}

#imageOne {
  @extend %image;
  background-image: url('#{$path-img}/city.jpg');
  flex-basis: 400px;
  flex-grow: 2;
}

#imageTwo {
  @extend %image;
  background-image: url('#{$path-img}/ferris-wheel.jpg');
}

#imageThree {
  @extend %image;
  background-image: url('#{$path-img}/rose.jpg');
}

#imageFour {
  @extend %image;
  background-image: url('#{$path-img}/guitar.jpg');
}

#imageFive {
  @extend %image;
  background-image: url('#{$path-img}/train.jpg');
}

#imageSix {
  @extend %image;
  background-image: url('#{$path-img}/clock.jpg');
  flex-basis: 400px;
  flex-grow: 2;
}

// Mobile Media Query
@media only screen
and (max-width: 400px)
and (-webkit-min-device-pixel-ratio: 1) {
  .item {
    width: 200px;
    height: 400px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 0 3px 2px black;
    flex-grow: 1;
  }
}

// Tablet Media Query
@media only screen
and (max-width: 1170px)
and (-webkit-min-device-pixel-ratio: 1) {
  // Flex NavBar
  nav {
    display: none;
  }

  .main {
    background-image: url('#{$path-img}/tree.jpg');
    flex-grow: 1;
    height: 800px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .mainText {
    color: $rose;
    font-family: $stack-molle;
    font-size: 2em;
    margin-top: 10em;
    margin-left: 10px;
    h2 {
      display: block;
      font-family: $stack-molle;
      position: absolute;
      font-size: 1em;
      line-height: 0;
      top: 300px;
      left: 5px;
    }
    span {
      display: block;
      color: $white;
      font-family: $stack-molle;
      position: absolute;
      font-size: .5em;
      top: 320px;
      left: 150px;
    }
  }

  .play {
    display: block;
    position: relative;
    margin: 0 auto;
    opacity: .5;
    width: 100px;
    top: 100px;
    left: 0;
    &:hover {
      opacity: 1;
    }
  }
}
